body{
    background-color:rgb(139, 139, 139);
    color: white;
    font-size: 16px;
    background-repeat: no repeat;
    background-size: cover;
}

.common{
    border: 2px solid white;
    position: absolute;
}

.commonnav{
    border: 2px dotted white;
    position: absolute;
}

.nav{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position: relative;
    float: right;
    top: 90px;
    

}

.header{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    top:10px;
    left:0px;
    right:0px;
    text-align: center;
}

.content{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 150%;
    font-weight: 300;
    top:90px;
    left:0px;
    right:0px;
    bottom:0px;
}

.footer{
    position: fixed;
    font-style: italic;
    text-align: center;
    font-size:50%;
    bottom:0px;
    left:0px;
    right:0px;
    background-color: rgba(125,159,159,0.5);
}

.Pablito.jpeg{
    height: auto;
    width: 20PX;
}

h2{
    color: rgb(95, 62, 2);
}

html{
    scroll-behavior: smooth;
}